/*
 * Combined style sheet for the index pages and the slide pages, with classes that are common to both styles
 */

html {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}
body {
	margin: 8px;
	text-align: center;
}
a {
	outline: 0;
}
a:link, a:visited, a:active {
	text-decoration: none
}
img {
	border: none;
}
#albumtitle {
	font-size: 1.5rem;
	margin: 0px auto 5px;
}
#albumdescription {
	font-size: 1.0rem;
	max-width: 690px;
	margin: 0px auto 5px;
}
#foldertitle {
	font-size: 1.25rem;
	margin: 0px auto 5px;
}
#foldercomment {
	font-size: 1.0rem;
	max-width: 690px;
	margin: 0px auto 5px;
}
#imagetitle {
	font-size: 1.25rem;
	margin: 0px auto 5px;
}
#nav img {
	margin: 15px;
}
#thumbnails {
	max-width: 690px;
	margin: 0px auto;
	font-size: 0px; /* Hack to collapse whitespace between boxes */
}
#thumbnails > div {
	display: inline-block;
	margin: 7px;
	vertical-align: top;
	width: 124px;
}
#thumbnails > div img {
	padding: 0px;
}
#thumbnails > div > div {
	font-size: 0.8rem;
	margin: 5px 0px;
}
#thumbnav {
	margin: 10px 0px 0px;
}
#thumbnav img {
	padding: 0px;
	margin-bottom: 12px;
}
#thumbnav > div {
	position: relative;
	display: inline-block;
	line-height: 0px;
}
#thumbcurrent::after {
	content: ' ';
	position: absolute;
	border: 6px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -6px;
	margin-top: -16px;
	-moz-transform: scale(.9999); /* To remove jagged edges in FF */
}
#slideimage {
	position: relative;
	display: inline-block;
	line-height: 0px;
	padding: 0px;
	margin-top: 10px;
}
#slideimage img {
	max-width: 100%;
	height: auto;
}
#slideimage video {
	outline: 0;
	max-width: 100%;
	height: auto;
}
#slide-prev {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
}
#slide-next {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
}
#slidecomment {
	font-size: 0.9rem;
	margin: 8px auto;
}
#creditlink {
	font-size: 0.7rem;
	margin: 8px 0px;
}
.noborder {
	border: none !important;
}
