/* The element Selector */
body {
    font-family: "TH Sarabun New";
    font-size: 24px;
    text-align: left;
    color: #FF0;
    background-color: rgb(127, 193, 231);
    background-image: url(bg1.gif);
}

h3 {
    color: navy;
    margin-left: 20px;
}

p {
    color: rgb(255,255,100);
    font-family: verdana;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    color: Tomato;
}

div {
    background-color: rgb(100,100,100);
}

address {
    color: rgb(175, 37, 255);
    font-size: 100%;
    font-weight: bold;
    text-align: left;
}

td {
    color: blue;
    font-family: "TH Sarabun New";
}

/* The id Selector */
#p1 {
    text-align: center;
    color: rgb(0,0,0);
}

#div1 {
    background-color: rgb(0,0,0);
}

#div2 {
    background-color: #FF0;
}

#div3 {
    background-color: #00F;
}
#div4 {
    background-color: rgb(18, 76, 131);
}

/* The class Selector */
.hd {
    background-color: #0CF;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 80px;
    color: yellow;
}

.p2 {
    background-color: #FFAADD;
    color: #F0F;
}

p.center {
    text-align: center;
    color: rgb(200,100,100);
}

p.large {
    font-size: 50px;
}

/* Grouping Selector */
h1, h3 {
    color: blue;
    font-family: "TH Sarabun New";
    font-size: 30px;
}

th, td {
    border: 1px solid #FF00FF;
    background-color: #FFCCCC;
}